<main>
	<article id="login" class="m-2">
	    <header class="text-center">
		    <h3>
			    Login
		    </h3>
	    </header>
	    <form (ngSubmit)="onLogin(loginName.value, loginPassword.value)" #loginForm class="p-4">
		    <div class="form-group">
			    <label for="username">Username</label>
			    <input #loginPassord type="text" class="form-control" required name="username"/>
		    </div>
		    <div class="form-group">
			    <label for="password">Password</label>
			    <input #loginName type="password" class="form-control" required name="password"/>
		    </div>
		    <button type="submit" class="btn btn-success">Success</button>
	    </form>
	</article>
	<article id="register" class="m-2">
	    <header class="text-center">
		    <h3>
			    Register
		    </h3>
	    </header>
	    <form (ngSubmit)="onRegister(registerName.value, registerPassword.value)" #registerForm class="p-4">
		    <div class="form-group">
			    <label for="username">Username</label>
			    <input #registerName type="text" class="form-control" required name="username"/>
		    </div>
		    <div class="form-group">
			    <label for="password">Password</label>
			    <input #registerPassword type="password" class="form-control" required name="password"/>
		    </div>
		    <button type="submit" class="btn btn-success">Success</button>
	    </form>
    </article>
</main>