<main>
	<article id="login" class="m-2">
	    <header class="text-center">
		    <h3>
			    Login
		    </h3>
	    </header>
	    <form (ngSubmit)="onLogin(loginEmail.value, loginPassword.value)" #loginForm class="p-4">
		    <div class="form-group">
			    <label for="email">Email</label>
			    <input #loginEmail type="text" class="form-control" required name="email"/>
		    </div>
		    <div class="form-group">
			    <label for="password">Password</label>
			    <input #loginPassword type="password" class="form-control" required name="password"/>
		    </div>
		    <button type="submit" class="btn btn-success">Login</button>
	    </form>
	</article>
	<article id="register" class="m-2">
	    <header class="text-center">
		    <h3>
			    Register
		    </h3>
	    </header>
	    <form (ngSubmit)="onRegister(registerEmail.value, registerPassword.value)" #registerForm class="p-4">
		    <div class="form-group">
			    <label for="email">Email</label>
			    <input #registerEmail type="text" class="form-control" required name="email"/>
		    </div>
		    <div class="form-group">
			    <label for="password">Password</label>
			    <input #registerPassword type="password" class="form-control" required name="password"/>
		    </div>
		    <button type="submit" class="btn btn-success">Register</button>
	    </form>
    </article>
</main>