html, body {
  scroll-behavior: smooth;
}

.main-header {
  background-image: url('../assets/images/bumps.svg');
  background-color: #B9090B;
  font-family: 'Bowlby One SC', cursive;
  height: auto;
  text-transform: uppercase;
  width: 100%;
  color: #FEFEFA !important;
}

#main-h1 {
  padding: 0.7em 0;
  font-size: 3em;
  font-weight: 900;
}

a {
  color: #FEFEFA !important;
}
