<main>
	<header>
		<h2 class="text-center">
			Administrative Tasks
		</h2>
	</header>
	<section id="add-movie-section" class="mt-4 d-flex flex-column align-items-center justify-content-center">
		<button (click)="changeIsAddHidden()" class="btn mb-4" type="button" id="add-movie-button">
			Add Movie Review
		</button>
		<form (ngSubmit)="onSubmit(movieTitle.value, year.value, imdb.value, trailer.value, reviewTitle.value, reviewClip.value, reviewSummary.value, reviewScore.value, bestWeek.checked, bestMonth.checked)" #reviewForm="ngForm" class="pl-4 pr-4 isHidden" [class.isHidden]="isAddHidden">
			<div class="form-group">
				<label for="movieTitle">Movie Title</label>
				<input #movieTitle type="text" class="form-control" [(ngModel)]="reviewForm.movieTitle" name="movieTitle" required />
				<div class="mt-1" style="color:red">
					*required
				</div>
			</div>

			<div class="form-group">
				<label for="year">Year</label>
				<input #year type="number" class="form-control" [(ngModel)]="reviewForm.year" name="year" required />
				<div class="mt-1" style="color:red">
					*required
				</div>
			</div>

			<div class="form-group">
				<label for="imdb">IMDb ID</label>
				<input #imdb type="text" class="form-control" name="imdb" />
			</div>

			<div class="form-group">
				<label for="trailer">Youtube Trailer</label>
				<input #trailer type="text" class="form-control" name="trailer" />
			</div>

			<div class="form-group">
				<label for="Review Title">Review Title</label>
				<input #reviewTitle type="text" class="form-control" name="reviewTitle" />
			</div>

			<div class="form-group">
				<label for="reviewClip"></label>Youtube Review Clip
				<input #reviewClip type="text" class="form-control" name="reviewClip" />
			</div>

			<div class="form-group">
				<label for="reviewSummary">Review Summary</label>
				<textarea #reviewSummary type="textarea" class="form-control" name="reviewSummary"></textarea>
			</div>

			<div class="form-group">
				<label for="reviewScore">Review Score</label>
				<input #reviewScore type="number" step=0.1 class="form-control" [(ngModel)]="reviewForm.reviewScore" name="reviewScore" required />
				<div class="mt-1" style="color:red">
					*required
				</div>
			</div>

			<div class="form-group">
				<label for="bestWeek">Make Feature of the Week</label>
				<input #bestWeek type="checkbox" class="form-control" value="bestWeek" name="bestWeek" />
			</div>

			<div class="form-group">
				<label for="bestMonth">Make Feature of the Month</label>
				<input #bestMonth type="checkbox" class="form-control" value="bestMonth" name= "bestMonth"/>
			</div>

			<button type="submit" class="btn btn-success" [disabled]="!reviewForm.form.valid">Add Movie Review</button>

		</form>
	</section>
</main>