<section id="users-admin" class="mt-4 mb-4 pt-4 pb-4 d-flex flex-column align-items-center justify-content-center">
	<!-- Search User Section -->
	<article id="search-user" class="mt-4 mb-4 pt-4 pb-4 d-flex flex-column align-items-center justify-content-center">
		<div id="user-search-bar" class=" w-100 search-bar">
			<input #usersSearch (keyup)="userSearch$.next(userSearch.value)" [(ngModel)]="userSearch" id="user-search-input" class="w-100 search-input" type="text" placeholder="Search Users..." />
			<ul *ngIf="users && usersSearch.value" class="">
        		<li *ngFor="let user of users">
          			<a (click)="setEditUser(user)" class='row justify-content-around mr-0 ml-0'>
            			<div class="col-3 mx-auto pl-1 pr-1">
              				<img *ngIf="user.picture; else mockPictureBlock" class="img-fluid w-100 dropdown" src="{{ user.picture }}" alt="{{user.username}}-picture" />
              				<ng-template #mockPictureBlock>
                				<img class="img-fluid w-100 dropdown" src="../../assets/images/mock-poster.jpg" alt="{{user.username}}-picture" />
              				</ng-template>
            			</div>
            			<p class="col-9 mx-auto mb-auto mt-auto pl-2 pr-2 text-center">{{ user.username }}</p>
          			</a>
        		</li>
      		</ul>
		</div>
	</article>
</section>