<header class="main-header">
  <h1 id="main-h1" class="d-flex justify-content-center align-items-center">
    PRINCE PICKS
  </h1>
  <nav class="d-flex justify-content-start align-items-center">
  	<a routerLink="/" class="d-flex align-items-center p-2 mr-3">Home</a>
    <div id="search-bar">
      <input #basicSearch (keyup)="searchTerms$.next(basicSearch.value)" [(ngModel)]="navSearch" id="nav-search-input" class="w-100" type="text" placeholder="Search Movies..." />
      <ul *ngIf="results && basicSearch.value" class="">
        <li *ngFor="let result of results">
          <a routerLink="/movies/{{ result.movieTitle }}/{{ result.year }}" class='row justify-content-around'>
            <div class="col-4 mx-auto pl-2 pr-2">
              <img *ngIf="result.poster; else mockPosterBlock" class="img-fluid nav-poster" src="{{ result.poster }}" alt="{{result.movieTitle}}-poster" />
              <ng-template #mockPosterBlock>
                <img class="img-fluid nav-poster" src="../../assets/images/mock-poster.jpg" alt="{{result.movieTitle}}-poster" />
              </ng-template>
            </div>
            <p class="col-8 mx-auto mb-auto mt-auto pl-2 pr-2">{{ result.movieTitle }}</p>
          </a>
      </ul>
    </div>
  	<div *ngIf="this.usersService.getUser(); else loginBlock" href="#" class="p-2 mr-3 ml-auto d-flex">
      <p class="mb-0 align-middle d-inline-block mt-auto mb-auto">Welcome</p>
      <div ngbDropdown class="d-inline-block">
        <button class="btn dropdown-toggle" type="button" id="navDropdown" ngbDropdownToggle>
          {{ this.usersService.getUser() | TitleCasePipe }}
        </button>
        <div ngbDropdownMenu aria-labelledby="navDropdown">
          <button routerLink="/admin" class="dropdown-item" href="#">Admin</button>
          <button (click)="this.logout()" class="dropdown-item" href="#">Logout</button>
        </div>
      </div>
    </div>
  	<ng-template #loginBlock>
  		<a routerLink="/login" class="p-2">Login</a>
  	</ng-template>
  </nav>
</header>
<button (click)="topOfPage()" id="new-message-btn" class="d-none"></button>