<article class="w-100 d-flex flex-column">
	<header class="comment-header text-center">
		<h4>
			Comments
		</h4>
	</header>
	<section class="p-3">
		<header>
			<h6>
				Add a Comment
			</h6>
			<div *ngIf="!this.usersService.getUser(); else addCommentBlock">
				<p>You must be logged in to post a comment Please <a class="sign-in-link" routerLink="/login">sign in</a> if you wish to comment</p>
			</div>
		</header>
		<ng-template #addCommentBlock>
			<form (ngSubmit)="addComment(commentInput.value)">
				<div class="comment-block">
					<textarea #commentInput (keyup)="onTextareaKey(commentInput.value)" class="w-100 p-2" maxlength="10000"></textarea>
				</div>
				<div class="comment-action pl-3 pr-3 pb-3">
				</div>
				<div class="comment-action d-flex">
					<div class="comment-length w-50 p-3 align-middle">
						<em class="d-inline">{{ textareaLength }}</em>
						/10000
					</div>
					<button class="w-50" type="submit">
						Post Comment
					</button>
				</div>
			</form>
		</ng-template>
	</section>
</article>
