.comment-header {
  background-image: url('../../assets/images/bumps.svg');
  background-color: #B9090B;
  font-family: 'Bowlby One SC', cursive;
  height: auto;
  padding: 1em 0.5em;
  text-transform: uppercase;
  width: 100%;
  color: white;
  font-size: 1em;
}

section {
  background: white;
}

textarea {
	height: 120px;
	border: 1px solid #e0e0e0;
	border-bottom: none;
	min-width: 100%;
	max-width: 100%;
	overflow: hidden;
}

.comment-length {
	background: #eaeaea;
	color: #333;
}

.comment-username {
	font-size: .6em;
	-webkit-margin-after: 0;
}