.comment-header {
  background-image: url('../../assets/images/bumps.svg');
  background-color: #B9090B;
  font-family: 'Bowlby One SC', cursive;
  height: auto;
  padding: 1em 0.5em;
  text-transform: uppercase;
  width: 100%;
  color: white;
  font-size: 1em;
}

section {
  background: white;
}

textarea {
	height: 120px;
	border: 1px solid #e0e0e0;
	border-bottom: none;
	min-width: 100%;
	max-width: 100%;
	overflow: hidden;
}

.comment-length {
	background: #eaeaea;
	color: #333;
}

.edit-comment-length {
	background: #eaeaea;
	color: #333;
	font-size: 0.6em;
}

.post-edit-btn, .cancel-edit-btn {
	font-size: 0.6em;
}

.comment-username {
	font-size: .8em;
	-webkit-margin-after: 0;
	color: #8e8e8e !important;
}

.comment-img-container {
	width: 15%;
	min-width: 64px;
	min-height: 64px;
}

.comment-content {
	width: 85%;
}

.posted-comment-actions {
	margin-top: auto;
}

.reply-comment, .edit-comment, .delete-comment {
	font-size: 0.6em;
	color: #8c8c8c !important;
	cursor: pointer;
}

.reply-comment:hover, .edit-comment:hover, .delete-comment:hover {
	text-decoration: underline !important;
	color: #333 !important;
}