<article class="w-100 d-flex flex-column">
	<header class="comment-header text-center">
		<h4>
			Comments
		</h4>
	</header>
	<section class="p-3 mb-3">
		<header>
			<h6>
				Add a Comment
			</h6>
			<div *ngIf="!this.usersService.getUser(); else addCommentBlock">
				<p>You must be logged in to post a comment Please <a class="sign-in-link" routerLink="/login">sign in</a> if you wish to comment</p>
			</div>
		</header>
		<ng-template #addCommentBlock>
			<form (ngSubmit)="addComment(commentInput.value); commentInput.value=null">
				<div class="comment-block">
					<textarea #commentInput (keyup)="onTextareaKey(commentInput.value, 'post')" class="w-100 p-2" maxlength="10000"></textarea>
				</div>
				<div class="comment-actions d-flex">
					<div class="comment-length w-50 p-3 align-middle">
						<em class="d-inline">{{ textareaLength }}</em>
						/10000
					</div>
					<button class="w-50" type="submit">
						Post Comment
					</button>
				</div>
			</form>
		</ng-template>
	</section>
	<section *ngIf="comments" [class.none]="!comments.length" class="p-1 mb-3">
		<article *ngFor="let comment of comments" class="d-flex mb-2">
			<div class="comment-img-container mr-1 mt-1">
				<img *ngIf="comment.user.picture; else mockUserImageBlock" class="comment-img img-fluid" src="{{ comment.user.picture }}" alt="{{comment.user.username }}-picture" />
            	<ng-template #mockUserImageBlock>
              		<img class="comment-img img-fluid" src="../../assets/images/mock-poster.jpg" alt="{{comment.user.username}}-picture" />
            	</ng-template>
			</div>
			<div class="comment-content d-flex flex-column p-1">
				<p class="comment-username pb-1 mb-0">{{ comment.user.username }}</p>
				<p *ngIf="!comment.editing; else editingBlock" #postedComment class="comment-content-body pb-1 mb-0">{{ comment.body }}</p>
				<ng-template #editingBlock class="comment-content-body pb-1 mb-0">
					<form (ngSubmit)="editComment(editCommentInput.value, comment); toggleEditing(comment)">
						<div class="comment-block">
							<textarea #editCommentInput (keyup)="onTextareaKey(editCommentInput.value, 'edit')" class="w-100 p-2" maxlength="10000">{{ comment.body }}</textarea>
						</div>
						<div class="comment-actions d-flex">
							<div class="edit-comment-length p-3 align-middle">
								<em class="d-inline">{{ editTextareaLength }}</em>
						/10000
							</div>
							<button (click)="toggleEditing(comment)" class="cancel-edit-btn">
								Cancel
							</button>
							<button class="post-edit-btn" type="submit">
						Edit Comment
							</button>
						</div>
					</form>
				</ng-template>
				<div class="posted-comment-actions row w-100">
					<a (click)="toggleReplying(comment)" [class.clicked]="comment.replying" class="col reply-comment">Reply</a>
					<a (click)="toggleEditing(comment)" [class.clicked]="comment.editing" class="col edit-comment">Edit</a>
					<a (click)="open(confirmDelete, comment, 'comment')" class="col delete-comment">Delete</a>
				</div>
				<form *ngIf="comment.replying" (ngSubmit)="addReply(replyCommentInput.value, comment); toggleReplying(comment)">
					<div class="comment-block">
						<textarea #replyCommentInput (keyup)="onTextareaKey(replyCommentInput.value, 'reply')" class="w-100 p-2" maxlength="10000"></textarea>
					</div>
					<div class="comment-actions d-flex">
						<div class="reply-comment-length p-3 align-middle">
							<em class="d-inline">{{ replyTextareaLength }}</em>
						/10000
						</div>
						<button (click)="toggleReplying(comment)" class="cancel-reply-btn">
							Cancel
						</button>
						<button class="post-reply-btn" type="submit">
							Reply
						</button>
					</div>
				</form>

				<!-- REPLIES SECTION -->
				<section *ngIf="comment.replies" class="p-1 mt-3 reply-section">
					<article *ngFor="let reply of comment.replies" class="d-flex mb-2">
						<div class="reply-img-container mr-1 mt-1">
							<img *ngIf="reply.user.picture; else mockUserImageBlock" class="comment-img img-fluid" src="{{ reply.user.picture }}" alt="{{reply.user.username }}-picture" />
            				<ng-template #mockUserImageBlock>
              					<img class="comment-img img-fluid" src="../../assets/images/mock-poster.jpg" alt="{{reply.user.username}}-picture" />
            				</ng-template>
						</div>
						<div class="comment-content d-flex flex-column p-1">
							<p class="comment-username pb-1 mb-0">{{ reply.user.username }}</p>
							<p *ngIf="!reply.editing; else editingBlock" #postedComment class="comment-content-body pb-1 mb-0">{{ reply.body }}</p>
							<ng-template #editingBlock class="comment-content-body pb-1 mb-0">
								<form (ngSubmit)="editReply(editCommentInput.value, reply, comment); toggleEditing(reply)">
									<div class="comment-block">
										<textarea #editCommentInput (keyup)="onTextareaKey(editCommentInput.value, 'edit')" class="w-100 p-2" maxlength="10000">{{ reply.body }}</textarea>
									</div>
									<div class="comment-actions d-flex">
										<div class="edit-comment-length p-3 align-middle">
											<em class="d-inline">{{ editTextareaLength }}</em>
											/10000
										</div>
										<button (click)="toggleEditing(reply)" class="cancel-edit-btn">
											Cancel
										</button>
										<button class="post-edit-btn" type="submit">
											Edit Comment
										</button>
									</div>
								</form>
							</ng-template>
							<div class="posted-comment-actions d-flex flex-nowrap justify-content-between w-100">
								<a (click)="toggleReplying(reply)" [class.clicked]="reply.replying" class="reply-comment">Reply</a>
								<a (click)="toggleEditing(reply)" [class.clicked]="reply.editing" class="edit-comment">Edit</a>
								<a (click)="open(confirmDelete, comment, 'reply', reply)" class="delete-comment">Delete</a>
							</div>
							<form *ngIf="reply.replying" (ngSubmit)="replyComment(replyCommentInput.value, comment); toggleReplying(reply)">
								<div class="comment-block">
									<textarea #replyCommentInput (keyup)="onTextareaKey(replyCommentInput.value, 'reply')" class="w-100 p-2" maxlength="10000"></textarea>
								</div>
								<div class="comment-actions d-flex">
									<div class="reply-comment-length p-3 align-middle">
										<em class="d-inline">{{ replyTextareaLength }}</em>
										/10000
									</div>
									<button (click)="toggleReplying(reply)" class="cancel-reply-btn">
										Cancel
									</button>
									<button class="post-reply-btn" type="submit">
										Reply
									</button>
								</div>
							</form>
						</div>
					</article>
				</section>
				<!-- END OF REPLIES -->

			</div>
		</article>
	</section>
</article>
<ng-template #confirmDelete let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">Confirm Delete
		</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<p>Are you sure you want to delete this comment?</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="c('cancel click')">
			Cancel
		</button>
		<button type="button" class="btn btn-danger" (click)="c('delete click')">
			Delete
		</button>
	</div>
</ng-template>